<!DOCTYPE html>
<html lang="en">
	<head>
		{{#if title}}
			<title>{{title}} - AFROTC Detachment 165</title>
		{{else}}
			<title>AFROTC Detachment 165</title>
		{{/if}}
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Titillium+Web&display=swap" />
		<link rel="stylesheet" href="css/main.css" />
		<script src="https://kit.fontawesome.com/ac648668e6.js"></script>
		<!-- https://coolors.co/313b4f-213e6f-3a5a8d-87aed9-acccef -->
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Join</a></li>
				<li><a href="#">Cadre and Staff</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>

		{{> @partial-block}}

		<footer class="footer">
			<div class="container">
				<div class="columns contact">
					<div class="column">
						<img src="img/logos/det.gif" alt="Detachment 165 logo" />
					</div>
					<div class="column">
						<h2>AFROTC Detachment 165</h2>
						<h3>Georgia Institute of Technology</h3>
						<ul>
							<li>
								<span class="icon"><i class="fas fa-phone-alt"></i></span>
								213-507-3548
							</li>
							<li>
								<span class="icon"><i class="fas fa-envelope"></i></span>
								<a href="mailto:recruiting@afrotc.gatech.edu">recruiting@afrotc.gatech.edu</a>
							</li>
							<li>
								<span class="icon"><i class="fas fa-user-shield"></i></span>
								<a href="#">Privacy and Security Notice</a>
							</li>
						</ul>
					</div>
				</div>
				<p class="has-text-centered">Built with <span class="icon"><i class="fas fa-fighter-jet"></i></span> by the cadets of Detachment 165</p>
				<ul class="sources">
					<li><cite><a href="https://www.dvidshub.net/image/5212125/jber-f-22s-demonstrate-combat-capabilities">U.S. Air Force photo of F-22 by Justin Connaher</a></cite></li>
					<li><cite><a href="https://www.dvidshub.net/image/5432437/vance-pilot-flies-over-oklahoma">U.S. Air Force photo of T-38 by Senior Airman Taylor Crul</a></cite></li>
					<li><cite><a href="https://www.dvidshub.net/image/5448876/190th-fighter-squadron-execute-austere-landing">U.S. Air National Guard photo of A-10 by Senior Airman Mercedee Wilds</a></cite></li>
					<li><cite><a href="https://www.dvidshub.net/image/5447398/heritage-flight-honors-last-d-day-celebration">U.S. Air Force photo of F-35 by Senior Airman Tristan Biese</a></cite></li>
				</ul>
			</div>
		</footer>
	</body>
</html>
