{{#> base title="About"}}
	{{#*inline "head-block"}}
		<link rel="stylesheet" href="css/about.css" />
	{{/inline}}

	<section class="primary">
		<div class="primary-background columns is-vcentered">
			<div class="column">
				<h1>About</h1>
				<h2>Learn more about our tradition of excellence</h2>
			</div>
			{{!-- <h2>
				Established in <strong>1920</strong> for the Army Air Corps
				Established in <strong>1950</strong>
				One of <strong>6</strong> orginal AFROTC detachments (citation needed)
				Comprised of <strong>~100</strong> cadets
				Representing <strong>12</strong> metro Atlanta schools
			</h2> --}}
		</div>
	</section>

	<header class="section">
		<div class="container">
			<img src="img/100-years.jpg" alt="100 years of ROTC at Georgia Tech" />
			<h1>Over 100 years of ROTC tradition</h1>
		</div>

		<div class="container timeline">
			<div class="timeline-container left">
				<div class="content">
					<h2>1917</h2>
					<p>The U.S. War Department creates an eight-week ground school to train military pilots for the U.S. Army's Aviation Section, Signal Corps &mdash; the direct ancestor of today's Air Force</p>
				</div>
			</div>
			<div class="timeline-container right">
				<div class="content">
					<h2>1920</h2>
					<p>An "Air ROTC" unit is established at Georgia Tech &mdash; one of the first six to be established at universities in the United States</p>
				</div>
			</div>
			<div class="timeline-container left">
				<div class="content">
					<h2>1946</h2>
					<p>General Dwight D. Eisenhower, chief of staff of the War Department signs General Order No. 124, expanding Air ROTC to 77 universities</p>
				</div>
			</div>
			<div class="timeline-container right">
				<div class="content">
					<h2>1947</h2>
					<p>The National Security Act of 1947 creates the U.S. Department of Defense and separates the U.S. Army Air Forces into its own service, the United States Air Force</p>
				</div>
			</div>
			<div class="timeline-container left">
				<div class="content">
					<h2>1950</h2>
					<p>Air Force ROTC is established at Georgia Tech as a distinct unit from Army ROTC</p>
				</div>
			</div>
			<div class="timeline-container right">
				<div class="content">
					<h2>1952</h2>
					<p>Detachment 165 becomes one of the first detachments in the nation to allow women to attend military training and earn a commission</p>
				</div>
			</div>
		</div>
	</header>

	<main class="section">
		<div class="container">
			<h1>Georgia Tech is home to <strong>11</strong> crosstown schools</h1>
			<div class="columns colleges">
				<div class="column is-fifth">
					<div class="logo kennesaw"></div>
					Kennesaw State University
				</div>
				<div class="column is-fifth">
					<div class="logo georgia-state"></div>
					Georgia State University
				</div>
				<div class="column is-fifth">
					<div class="logo clayton-state"></div>
					Clayton State University
				</div>
				<div class="column is-fifth">
					<div class="logo morehouse"></div>
					Morehouse College
				</div>
				<div class="column is-fifth">
					<div class="logo emory"></div>
					Emory University
				</div>
			</div>
			<div class="columns colleges">
				<div class="column is-fifth">
					<div class="logo spelman"></div>
					Spelman College
				</div>
				<div class="column is-fifth">
					<div class="logo oglethorpe"></div>
					Oglethorpe University
				</div>
				<div class="column is-fifth">
					<div class="logo mercer"></div>
					Mercer University
				</div>
				<div class="column is-fifth">
					<div class="logo west-georgia"></div>
					University of West Georgia
				</div>
				<div class="column is-fifth">
					<div class="logo agnes-scott"></div>
					Agnes Scott College
				</div>
			</div>
			<div class="columns colleges">
				<div class="column is-fifth"></div>
				<div class="column is-fifth"></div>
				<div class="column is-fifth">
					<div class="logo clark-atlanta"></div>
					Clark Atlanta University
				</div>
				<div class="column is-fifth"></div>
				<div class="column is-fifth"></div>
			</div>
		</div>
	</main>
{{/base}}
