{{#> base title="About"}}
	{{#*inline "head-block"}}
		<link rel="stylesheet" href="css/about.css" />
	{{/inline}}

	<section class="primary">
		<div class="primary-background columns is-vcentered">
			<div class="column">
				<h1>About</h1>
				<h2>Learn more about our tradition of excellence</h2>
			</div>
		</div>
	</section>

	<header class="section">
		<div class="container">
			<img src="img/100-years.jpg" alt="100 years of ROTC at Georgia Tech" />
			<h1>Over 100 years of ROTC tradition</h1>
		</div>

		<div class="container timeline">
			<div class="timeline-container left">
				<div class="content">
					<h2>1917</h2>
					<p>The U.S. War Department creates an eight-week ground school at Georgia Tech to train military pilots for the U.S. Army's Aviation Section, Signal Corps &mdash; the direct ancestor of today's Air Force</p>
				</div>
			</div>
			<div class="timeline-container right">
				<div class="content">
					<h2>1920</h2>
					<p>An "Air ROTC" unit is established at Georgia Tech &mdash; one of the first six to be established at universities in the United States</p>
				</div>
			</div>
			<div class="timeline-container left">
				<div class="content">
					<h2>1946</h2>
					<p>General Dwight D. Eisenhower, chief of staff of the War Department, signs General Order No. 124, expanding Air ROTC to 77 universities</p>
				</div>
			</div>
			<div class="timeline-container right">
				<div class="content">
					<h2>1947</h2>
					<p>The National Security Act of 1947 creates the U.S. Department of Defense and separates the U.S. Army Air Forces into its own service, the United States Air Force</p>
				</div>
			</div>
			<div class="timeline-container left">
				<div class="content">
					<h2>1950</h2>
					<p>Air Force ROTC is established at Georgia Tech as a distinct unit from Army ROTC</p>
				</div>
			</div>
			<div class="timeline-container right">
				<div class="content">
					<h2>1952</h2>
					<p>Detachment 165 becomes one of the first detachments in the nation to allow women to attend military training and earn a commission</p>
				</div>
			</div>
			<div class="timeline-container left">
				<div class="content">
					<h2>1965</h2>
					<p>Georgia Tech administraion elected to drop mandatory ROTC enrollment</p>
				</div>
			</div>
			<div class="timeline-container right">
				<div class="content">
					<h2>1990</h2>
					<p>Detachment 165 moved to D.M. Smith Building which still wears the Air Force Seal and the Air Force Core Values</p>
				</div>
			</div>
			<div class="timeline-container left">
				<div class="content">
					<h2>2006</h2>
					<p>Detachment 165 moved to the second floor of the O'keefe Building alongside Army ROTC and Naval ROTC</p>
				</div>
			</div>
		</div>

		<br />
		<div class="container">
			<h1>Testimonials</h1>

			<article class="media testimonial">
				<figure class="media-left">
					<p class="image is-square">
						<img src="img/testimonials/garcia.jpg" alt="Cadet Garcia" />
					</p>
				</figure>
				<div class="media-content text-right">
					<div class="content">
						<h2>Junior Cadet</h2>
						<h3>AS 300</h3>
						<p>Throughout my childhood, I've always wanted to be a hero. I've always looked up to my dad, a former combat engineer in the Air Force, and as a result, decided to join Georgia Tech's AFROTC program my freshman year. <strong>Joining has been one of the best decisions of my life, truly teaching me what it means to be a self-sacrificial leader</strong>. I firmly attest to the fact that this program has instilled in me a constant devotion to the details, a newfound confidence in my decisions, and the willingness to pledge my life to the Air Force Core Values of Integrity First, Service Before Self, and Excellence in All We Do.
					</div>
				</div>
			</article>
			<article class="media testimonial">
				<div class="media-content text-left">
					<div class="content">
						<h2>Senior Cadet</h2>
						<h3>AS 400</h3>
						<p>Through AFROTC, I have formed incredibly close friendships with people of great character who constantly <strong>challenge me to grow and develop into a better person and leader</strong>. While the program can be difficult at times, it has prepared me for the new set of challenges I will face upon graduation and commissioning.</p>
					</div>
				</div>
				<figure class="media-right">
					<p class="image is-square">
						<img src="img/testimonials/hammonds.jpg" alt="Cadet Hammonds" />
					</p>
				</figure>
			</article>
			<article class="media testimonial">
				<figure class="media-left">
					<p class="image is-square">
						<img src="img/testimonials/hill.jpg" alt="Cadet Hill" />
					</p>
				</figure>
				<div class="media-content text-right">
					<div class="content">
						<h2>Senior Cadet</h2>
						<h3>AS 400</h3>
						<p>AFROTC has grown me into a more competent and independent person. I have learned how to succeed and fail with grace and humility. I have deepened my ability to lead others relationally and through servant leadership. AFROTC has kept me grounded and centered throughout the chaos that is Georgia Tech, and has truly taught me some of the most valuable life lessons I could hope to learn.</p>
						<p><strong>Det 165 has provided me with, without a doubt, some of the best community I could have asked for</strong>. The quality of people who surround me at the detachment is truly amazing.</p>
					</div>
				</div>
			</article>
			<article class="media testimonial">
				<div class="media-content text-left">
					<div class="content">
						<h2>Sophomore Cadet</h2>
						<h3>AS 200</h3>
						<p>I joined ROTC because I did JROTC in high school and loved it and wanted to continue with a similar program. I love becoming super close to my fellow cadets and how everyone supports each other through everything. <strong>Det 165 does an amazing job at improving everyone and never leaving anyone behind</strong>.</p>
						<p>ROTC has forced me to realize that you need to continuously push yourself past your comfort zone to improve and succeed. ROTC has also helped me to <strong>become more outgoing and a better leader in all aspects of my life</strong>.</p>
					</div>
				</div>
				<figure class="media-right">
					<p class="image is-square">
						<img src="img/testimonials/johnson.jpg" alt="Cadet Johnson" />
					</p>
				</figure>
			</article>
			<article class="media testimonial">
				<figure class="media-left">
					<p class="image is-square">
						<img src="img/testimonials/kimbrough.jpg" alt="Cadet Kimbrough" />
					</p>
				</figure>
				<div class="media-content text-right">
					<div class="content">
						<h2>Sophomore Cadet</h2>
						<h3>AS 200</h3>
						<p>Military service has become a lifestyle for me. I grew up in Germany and South Korea on a military base. Being involved in AFROTC feels like continuing the family business. <strong>I want to give back everything that's been given to me</strong>.</p>
						<p><strong>This program builds leaders</strong>. As a Air Force reservist at Maxwell AFB, I wanted to put myself in an environment where I could develop as a leader, and impact the mission on a different level. </p>
					</div>
				</div>
			</article>
			<article class="media testimonial">
				<div class="media-content text-left">
					<div class="content">
						<h2>Junior Cadet</h2>
						<h3>AS 300</h3>
						<p>I love Det 165 because everyone is <strong>constantly seeking to help each other out</strong>.</p>
						<p>ROTC has helped me learn great <strong>leadership skills that will be useful for the rest of my
								life</strong> as well as discipline and a great work ethic.</p>
					</div>
				</div>
				<figure class="media-right">
					<p class="image is-square">
						<img src="img/testimonials/webb.jpg" alt="Cadet Webb" />
					</p>
				</figure>
			</article>
			<article class="media testimonial">
				<figure class="media-left">
					<p class="image is-square">
						<img src="img/testimonials/wilson.jpg" alt="Cadet Wilson" />
					</p>
				</figure>
				<div class="media-content text-right">
					<div class="content">
						<h2>Sophomore Cadet</h2>
						<h3>AS 200</h3>
						<p>I joined ROTC <strong>to be a part of something greater than myself</strong>, and to be able to work with our country's cutting edge technologies.
						<p>I love how tight knit our detachment is&mdash;everyone gets to know each other really well, especially within your class. I think ROTC has made me a more motivated person, and I have made some <strong>lifelong friendships</strong> already.</p>
					</div>
				</div>
			</article>
		</div>
	</header>

	<main class="section">
		<div class="container">
			<h1>Georgia Tech is home to <strong>11</strong> crosstown schools</h1>
			<div class="columns colleges">
				<div class="column is-fifth">
					<a href="https://www.kennesaw.edu">
						<div class="logo kennesaw"></div>
					</a>
					Kennesaw State University
				</div>
				<div class="column is-fifth">
					<a href="https://www.gsu.edu">
						<div class="logo georgia-state"></div>
					</a>
					Georgia State University
				</div>
				<div class="column is-fifth">
					<a href="https://www.clayton.edu">
						<div class="logo clayton-state"></div>
					</a>
					Clayton State University
				</div>
				<div class="column is-fifth">
					<a href="https://www.morehouse.edu">
						<div class="logo morehouse"></div>
					</a>
					Morehouse College
				</div>
				<div class="column is-fifth">
					<a href="https://www.emory.edu/home/index.html">
						<div class="logo emory"></div>
					</a>
					Emory University
				</div>
			</div>
			<div class="columns colleges">
				<div class="column is-fifth">
					<a href="https://www.spelman.edu">
						<div class="logo spelman"></div>
					</a>
					Spelman College
				</div>
				<div class="column is-fifth">
					<a href="https://oglethorpe.edu">
						<div class="logo oglethorpe"></div>
					</a>
					Oglethorpe University
				</div>
				<div class="column is-fifth">
					<a href="https://www.mercer.edu">
						<div class="logo mercer"></div>
					</a>
					Mercer University
				</div>
				<div class="column is-fifth">
					<a href="https://www.westga.edu">
						<div class="logo west-georgia"></div>
					</a>
					University of West Georgia
				</div>
				<div class="column is-fifth">
					<a href="https://www.agnesscott.edu">
						<div class="logo agnes-scott"></div>
					</a>
					Agnes Scott College
				</div>
			</div>
			<div class="columns colleges">
				<div class="column is-fifth"></div>
				<div class="column is-fifth"></div>
				<div class="column is-fifth">
					<a href="http://www.cau.edu">
						<div class="logo clark-atlanta"></div>
					</a>
					Clark Atlanta University
				</div>
				<div class="column is-fifth"></div>
				<div class="column is-fifth"></div>
			</div>
		</div>
	</main>
{{/base}}
