{{#> base title="About"}}
	{{#*inline "head-block"}}
		<link rel="stylesheet" href="css/about.css" />
	{{/inline}}

	<section class="primary">
		<div class="primary-background columns is-vcentered">
			<div class="column">
				<h1>About</h1>
				<h2>Learn more about our tradition of excellence</h2>
			</div>
		</div>
	</section>

	<header class="section">
		<div class="container">
			<img src="img/100-years.jpg" alt="100 years of ROTC at Georgia Tech" />
			<h1>Over 100 years of ROTC tradition</h1>
		</div>

		<div class="container timeline">
			<div class="timeline-container left">
				<div class="content">
					<h2>1917</h2>
					<p>The U.S. War Department creates an eight-week ground school at Georgia Tech to train military pilots for the U.S. Army's Aviation Section, Signal Corps &mdash; the direct ancestor of today's Air Force</p>
				</div>
			</div>
			<div class="timeline-container right">
				<div class="content">
					<h2>1920</h2>
					<p>An "Air ROTC" unit is established at Georgia Tech &mdash; one of the first six to be established at universities in the United States</p>
				</div>
			</div>
			<div class="timeline-container left">
				<div class="content">
					<h2>1946</h2>
					<p>General Dwight D. Eisenhower, chief of staff of the War Department, signs General Order No. 124, expanding Air ROTC to 77 universities</p>
				</div>
			</div>
			<div class="timeline-container right">
				<div class="content">
					<h2>1947</h2>
					<p>The National Security Act of 1947 creates the U.S. Department of Defense and separates the U.S. Army Air Forces into its own service, the United States Air Force</p>
				</div>
			</div>
			<div class="timeline-container left">
				<div class="content">
					<h2>1950</h2>
					<p>Air Force ROTC is established at Georgia Tech as a distinct unit from Army ROTC</p>
				</div>
			</div>
			<div class="timeline-container right">
				<div class="content">
					<h2>1952</h2>
					<p>Detachment 165 becomes one of the first detachments in the nation to allow women to attend military training and earn a commission</p>
				</div>
			</div>
			<div class="timeline-container left">
				<div class="content">
					<h2>1965</h2>
					<p>The Georgia Tech administration elects to drop mandatory ROTC enrollment</p>
				</div>
			</div>
			<div class="timeline-container right">
				<div class="content">
					<h2>1990</h2>
					<p>Detachment 165 moves to the ground floor of the D.M. Smith Building which still bears the Air Force Seal and the Air Force Core Values</p>
				</div>
			</div>
			<div class="timeline-container left">
				<div class="content">
					<h2>2006</h2>
					<p>Detachment 165 moves to its current home on the second floor of the O'Keefe Building alongside Army ROTC and Naval ROTC</p>
				</div>
			</div>
			<div class="timeline-container right">
				<div class="content">
					<h2>2020</h2>
					<p>Just under a year after the U.S. Space Force is established, <a href="https://www.iac.gatech.edu/news-events/features/georgia-tech-space-force-members">Detachment 165 directly commissions its first officer into the nation's newest military branch</a></p>
				</div>
			</div>
		</div>

		<div class="container testimonials">
			<h1>Testimonials</h1>


			<article class="media testimonial">
				<div class="media-content text-left">
					<div class="content">
						<h2>Ian Bunker</h2>
						<h3>AS 800</h3>
						<p>
							I've had a great experience both in the program and with all the opportunities it has created outside of AFROTC. The program has developed my leadership style and helped me fully appreciate the diverse set of skills and experiences working in a team can provide. I've had a lot of professional development opportunities and chances to see what it's like in the real Air/Space Force. <strong>Hands down, the best part is the people you get to meet and become friends with.</strong>
						</p>
					</div>
				</div>
				<figure class="media-right">
					<img src="img/testimonials/BunkerTestimonialPic.jpg" alt="Cadet Bunker" />
				</figure>
			</article>


			<article class="media testimonial">
				<figure class="media-left">
					<img src="img/testimonials/CarneyTestimonialPic.jpg" alt="Cadet Carney" />
				</figure>
				<div class="media-content text-right">
					<div class="content">
						<h2>Catherine Carney</h2>
						<h3>AS 400</h3>
						<p>The thing I value most about AFROTC is the community you build over your time in the program. For one, <strong>it's the most diverse commissioning source we have</strong>-there's 20-year-olds who've been students their whole life, prior enlisted students, students who have returned to school, married students, parents, and more. We get real life leadership opportunities much more often than in the USAFA bubble. </p>
						<p>Secondly, I'm so thankful to have become friends with the cadets in my class and in our detachment. We see each other much more every week than most groups on campus, and we're working on projects, PT-ing, discussing theory/ethics/current events, and tackling problems together. AFROTC isn't easy though, and it takes consistent effort to stay on top of tasks and compete with your peers. It can demand a certain nature of leader-somebody who speaks often in AS class, who volunteers for leading drill before anybody else, who comes early and stays late regardless of your schedule-and I rarely did any of those things as a GMC.</p> 
						<p><strong>This program improved my confidence a lot-both in and outside of ROTC</strong>-and I feel none of the anxiety I once did about taking up space in the detachment.</p>
					</div>
				</div>
			</article>


			<article class="media testimonial">
				<div class="media-content text-left">
					<div class="content">
						<h2>Shane Goswami</h2>
						<h3>AS 300</h3>
						<p>I'm in my third year of AFROTC, and I am confident that joining this program is one of the best decisions I've made. ROTC has forced me out of my comfort zone and pushed me to grow both mentally and physically.</p>
						<p>As the Holm Center Mission declares, no matter where you start and for how long you're in this program, you will come out the other side a stronger leader. I'm introverted at my core, so I'm grateful to this program for helping me bond with and build lifelong friendships with my classmates. 
						<p><strong>I've also learned skills like Tactical Combat Casualty Care and land navigation that I might not learn elsewhere.</strong></p>
						<p>As a new 100, I struggled to find my niche and contribute to the program, but I realized it was possible to employ my hobbies to support the detachment. I started by stepping up and leading my classes' class videos. I recommend all cadets brainstorm and reach out for opportunities, whether they're comfortable doing them or not.</p>
					</div>
				</div>
				<figure class="media-right">
					<img src="img/testimonials/GoswamiTestimonialPic.jpg" alt="Cadet Goswami" />
				</figure>
			</article>

			<article class="media testimonial">
				<figure class="media-left">
					<img src="img/testimonials/ThakurTestimonialPic.jpg" alt="Cadet Thakur" />
				</figure>
				<div class="media-content text-right">
					<div class="content">
						<h2>Sonia Thakur</h2>
						<h3>AS 200</h3>
						<p>My overall experience has been very positive. I feel like I've grown so much by being here. In the beginning, I felt super nervous and doubted myself, since this program was so new to me but soon enough, I felt comfortable with my peers, really focused on developing, and also learned to be there for other people.</p>
						<p><strong>I got involved because I wanted to be a part of something bigger than myself</strong>, a bigger family and I got exactly that. Being apart of Honor guard, the mentor/mentee program, and taking on different positions in the detachment helped me feel more confident in my abilities, develop time management skills, and most of all enhance teamwork experiences. I love how this program challenges you to be the best you can be in every aspect of your life. I learn something every day from literally everyone in our detachment, whether that be my peers, POC or Cadre. I never forget my "why," and my detachment constantly inspires me.</p>
					</div>
				</div>
			</article>

			<article class="media testimonial">
				<div class="media-content text-left">
					<div class="content">
						<h2>Kenyon Johnson</h2>
						<h3>AS 100</h3>
						<p>My overall experience in AFROTC could be summed up as a work in progress. I have learned a lot during my time in the program, but I feel as if there is more that needs to be done before I can be content with myself as a leader.</p>
						<p><strong>AFROTC at Georgia Tech is an environment that challenges and supports cadets as aspiring leaders in the Air Force and Space Force.</strong> The provision of lessons by POC and Cadre are ones that are applicable to the possibilities associated with the military and contribute to the successes of cadets from Det 165.</p>
						<p>The main challenge I have faced and continue to face is lacking the confidence of a leader, whether it is in leading a Group Leadership Problem or giving a presentation in AS Class. It is something I am always trying to improve upon whether I'm partaking in AFROTC related events or in my other classes.</p>
					</div>
				</div>
				<figure class="media-right">
					<img src="img/testimonials/JohnsonTestimonialPic.jpg" alt="Cadet Johnson" />
				</figure>
			</article>

			<article class="media testimonial">
				<figure class="media-left">
					<img src="img/testimonials/FajlounTestimonialPic.jpg" alt="Cadet Fajloun" />
				</figure>
				<div class="media-content text-right">
					<div class="content">
						<h2>Joseph Fajloun</h2>
						<h3>AS 300</h3>
						<p>Regarding my overall time within the program, I found it to have been the opportunity of a lifetime. I've never been happier nor prouder with myself and frankly, I believe joining AFROTC was my best life decision. I would say that in ROTC <strong>I've grown tremendously and have developed into someone far more extroverted and dependable than I originally thought.</strong> I feel like my overall experience in the program is one that is built upon a mutual exchange between myself and my peers.</p>
						<p> In my time, I've grown an appreciation and love of the bonds with my peers, and in the ability to lead the way and guide others to success. Standing by and leading my wingmen, I believe I can be the greatest version of myself. I feel like my experience has been an ebb and flow of these emotions as we ride the waves and struggles together.</p>
					</div>
				</div>
			</article>

			<article class="media testimonial">
				<div class="media-content text-left">
					<div class="content">
						<h2>Joshua Bandoo</h2>
						<h3>AS 300</h3>
						<p>
							AFROTC has allowed me to enhance my emotional intelligence. I have learned to adapt to the needs of others. Thus, <strong>I have been able to determine what kind of leader I am. A servant leader.</strong> I have witnessed all cadets gain confidence in the way they perform all tasks and drills. I am under the impression that this program does more than just check a box to be an Officer. It develops character and expands on the uniqueness of those who felt like all was lost.
						</p>
					</div>
				</div>
				<figure class="media-right">
					<img src="img/testimonials/BandooTestimonialPic.jpg" alt="Cadet Bandoo" />
				</figure>
			</article>

			<article class="media testimonial">
				<figure class="media-left">
					<img src="img/testimonials/NguyenTestimonialPic.jpg" alt="Cadet Nguyen" />
				</figure>
				<div class="media-content text-right">
					<div class="content">
						<h2>Ashley Nguyen</h2>
						<h3>AS 400</h3>
						<p>ROTC has helped me realize that through every adversity I face, I always emerge with great benefit and confidence. Throughout my experience, I have faced challenges of not having enough confidence in myself in some of my leadership abilities and having difficulties with improving my PFA score.</p> 
						<p>As a GMC, I tended to second guess myself and went with the flow with everyone around me. It was uncomfortable for me to step out of my element and adapt to what it means to be a "good leader". It showed through my public speaking and public events that I struggled with confidence. In terms of my PFA score, I fell into the category of cadets who have never ran a mile and a half or done a single pushup in their life before they joined ROTC. <strong>Although both of these components still challenge me today, both pushed me to gain more confidence</strong> and raise my score so I could help another cadet experiencing the same challenges.</p>
					</div>
				</div>
			</article>

		</div>
	</header>

	<main class="section">
		<div class="container">
			<h1>Georgia Tech is home to <strong>11</strong> crosstown schools</h1>
			<div class="columns colleges">
				<div class="column is-fifth">
					<a href="https://www.kennesaw.edu">
						<div class="logo kennesaw"></div>
					</a>
					Kennesaw State University
				</div>
				<div class="column is-fifth">
					<a href="https://www.gsu.edu">
						<div class="logo georgia-state"></div>
					</a>
					Georgia State University
				</div>
				<div class="column is-fifth">
					<a href="https://www.clayton.edu">
						<div class="logo clayton-state"></div>
					</a>
					Clayton State University
				</div>
				<div class="column is-fifth">
					<a href="https://www.morehouse.edu">
						<div class="logo morehouse"></div>
					</a>
					Morehouse College
				</div>
				<div class="column is-fifth">
					<a href="https://www.emory.edu/home/index.html">
						<div class="logo emory"></div>
					</a>
					Emory University
				</div>
			</div>
			<div class="columns colleges">
				<div class="column is-fifth">
					<a href="https://www.spelman.edu">
						<div class="logo spelman"></div>
					</a>
					Spelman College
				</div>
				<div class="column is-fifth">
					<a href="https://oglethorpe.edu">
						<div class="logo oglethorpe"></div>
					</a>
					Oglethorpe University
				</div>
				<div class="column is-fifth">
					<a href="https://www.mercer.edu">
						<div class="logo mercer"></div>
					</a>
					Mercer University
				</div>
				<div class="column is-fifth">
					<a href="https://www.westga.edu">
						<div class="logo west-georgia"></div>
					</a>
					University of West Georgia
				</div>
				<div class="column is-fifth">
					<a href="https://www.agnesscott.edu">
						<div class="logo agnes-scott"></div>
					</a>
					Agnes Scott College
				</div>
			</div>
			<div class="columns colleges">
				<div class="column is-fifth"></div>
				<div class="column is-fifth"></div>
				<div class="column is-fifth">
					<a href="http://www.cau.edu">
						<div class="logo clark-atlanta"></div>
					</a>
					Clark Atlanta University
				</div>
				<div class="column is-fifth"></div>
				<div class="column is-fifth"></div>
			</div>
		</div>
	</main>
{{/base}}
