{{#> base title="Cadre"}}
	{{#*inline "head-block"}}
		<link rel="stylesheet" href="css/cadre.css" />
	{{/inline}}

	<section class="primary">
		<div class="primary-background columns is-vcentered">
			<div class="column">
				<h1>Our Staff</h1>
				<h2>Meet the people who keep this Detachment running</h2>
			</div>
		</div>
	</section>

	<header class="section">
		<div class="container">
			<p>Cadre are active-duty Air Force personnel who come from a variety of background and careers in the Air Force to help shape the service's future leaders.</p>
			<p>The officers are Georgia Tech faculty and teach the AFROTC classes, oversee the cadet leadership's planning and execution of activities like PT and LLAB, and provide mentorship and guidance.</p>
			<p>The non-commissioned officers serve in essential administrative capacities and ensure cadets complete all of the program requirements to graduate from AFROTC.</p>
		</div>
	</header>

	<main class="section">
		<div class="container">
			<div class="columns is-multiline">
				<div class="column is-half">
					<div class="card">
						<div class="card-image">
							<figure class="silva"></figure>
						</div>
						<div class="card-content">
							<h1>Lieutenant Colonel Silva</h1>
							<h2>Detachment Commander</h2>
						</div>
					</div>
				</div>
				<div class="column is-half">
					<div class="card">
						<div class="card-image">
							<figure class="clark"></figure>
						</div>
						<div class="card-content">
							<h1>Captain Clark</h1>
							<h2>Education Flight Commander</h2>
						</div>
					</div>
				</div>
				<div class="column is-half">
					<div class="card">
						<div class="card-image">
							<figure class="brand"></figure>
						</div>
						<div class="card-content">
							<h1>Captain Brand</h1>
							<h2>Operations Flight Commander</h2>
						</div>
					</div>
				</div>
				<div class="column is-half">
					<div class="card">
						<div class="card-image">
							<figure class="babcock"></figure>
						</div>
						<div class="card-content">
							<h1>Captain Babcock</h1>
							<h2>Recruiting Flight Commander</h2>
						</div>
					</div>
				</div>
				<div class="column is-half">
					<div class="card">
						<div class="card-image">
							<figure class="davis"></figure>
						</div>
						<div class="card-content">
							<h1>Staff Sergeant Davis</h1>
							<h2>NCOIC Personnel</h2>
						</div>
					</div>
				</div>
				<div class="column is-half">
					<div class="card">
						<div class="card-image">
							<figure class="cauley"></figure>
						</div>
						<div class="card-content">
							<h1>Technical Sergeant Cauley</h1>
							<h2>NCOIC Administration</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{{/base}}
