{{#> base title="Contact"}}
	{{#*inline "head-block"}}
		<link rel="stylesheet" href="css/contact.css" />
	{{/inline}}

	<section class="primary">
		<div class="primary-background columns is-vcentered">
			<div class="column">
				<h1>Contact Us</h1>
				<h2>We'd love to hear from you!</h2>
			</div>
		</div>
	</section>

	<header class="section">
		<div class="container">
			<div class="columns">
				<div class="column is-full">
					<h1>Join in <span class="semester-text">Spring 2023</span> or later</h1>
					<p class="has-text-centered">To enroll for a future semester, fill out our interest form and we'll contact you with more details including when and how to apply.</p>
					<p class="has-text-centered"><a class="button is-large future-interest" href="https://docs.google.com/forms/d/e/1FAIpQLSfkvC-q9kdtHttOnJVYtJ4vA26Jpkqbdz1m1LS0h-perXGnhQ/viewform?usp=sf_link">Future Cadet Interest Form</a></p>

					<h1>Register for the AFOQT or TBAS</h1>
					<p class="has-text-centered">If you would like to take the AFOQT or the TBAS at Detachment 165, scan the QR code or click the button below and fill out the form</p>
					<img src="img/afoqt.png" width="300" height="300" class="center">
					<p class="has-text-centered"><a class="button is-large future-interest" href="https://docs.google.com/forms/d/e/1FAIpQLSfDSJSD3RAVLYlww4I_-ChfimN5DDDif2GrxDM7tfDzZ2DfMg/viewform?usp=sf_link">AFOQT/TBAS Registration</a></p>
				</div>
			</div>

			<div class="columns is-multiline">
				<div class="column is-half">
					<div class="panel">
						<h1><span class="icon"><i class="fas fa-phone-alt"></i></span></h1>
						<h2>404-894-7381</h2>
					</div>
				</div>
				<div class="column is-half">
					<div class="panel">
						<h1><span class="icon"><i class="fas fa-envelope"></i></span></h1>
						<h2><a href="mailto:recruiting@afrotc.gatech.edu">recruiting@afrotc.gatech.edu</a></h2>
					</div>
				</div>

				<div class="column is-full">
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3316.2868759648154!2d-84.39357738661033!3d33.77908928307857!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f50460c354626d%3A0xe2e5adeeaca77a03!2sO&#39;Keefe+-+Main+Bldg%2C+Atlanta%2C+GA+30313!5e0!3m2!1sen!2sus!4v1490685005628"
						frameborder="0"
						style="border:0"
						allowfullscreen
						class="google-map"></iframe>
				</div>
			</div>
		</div>
	</header>
{{/base}}
