{{#> base title="COVID"}}
	{{#*inline "head-block"}}
		<link rel="stylesheet" href="css/covid.css" />
	{{/inline}}

	<section class="primary">
		<div class="primary-background columns is-vcentered">
			<div class="column">
				<h1>COVID Guidelines</h1>
			</div>
		</div>
	</section>
	<main class="section">
		<div class="container">
			<h1>Cadets &#38; Students</h1>
			<br>
			<p>We are incorporating all USG/GT coronavirus guidelines into our classes. See below for a list of safety precautions:</p>
			<ul style="margin-left: 4%; margin-right:4%;">
				<li>Temperature checks and COVID Questionnaire upon entry to the 2nd floor of the O’Keefe building</li>
				<li>Masks are required in classes where 6 ft of separation cannot be maintained, please bring a mask to every class (lecture, lab, and PT)</li>
				<li>Room capacity has been reduced</li>
				<li>The Cadet Wing has been split into two groups to mitigate large crowds</li>
				<li>Routine cleaning of classrooms and space by GT facilities</li>
			</ul>
			<br>
			<h1>Visitors</h1>
			<br>
			<p>We are incorporating all USG/GT coronavirus guidelines. If you are visiting the Detachment for testing, recruiting, etc. you must abide by the below safety precautions:</p>
			<ul style="margin-left: 4%; margin-right:4%;">
				<li>Visitors by appointment only
						<ul>
						<li style="margin-left: 4%; margin-right:4%;">Please use the contact information below to set-up an appointment even if it is last minute.</li>
						</ul>
							</li>
				<li> Temperature checks and COVID Questionnaire upon entry to the 2nd floor of the O’Keefe building</li>
				<li>Masks are required by ALL visitors and all others who accompany them (parents, recruiters, etc. included)</li>
			</ul>
		</div>
	</main>
{{/base}}
