{{#> base title="COVID"}}
	{{#*inline "head-block"}}
		<link rel="stylesheet" href="css/covid.css" />
	{{/inline}}

	<section class="primary">
		<div class="primary-background columns is-vcentered">
			<div class="column">
				<h1>COVID-19</h1>
				<h2>The latest information and guidelines</h2>
			</div>
		</div>
	</section>

	<header class="section">
		<div class="container">
			<h1>Cadets and Students</h1>
			<p>We are incorporating all USG/GT coronavirus guidelines into our classes. See below for a list of safety precautions:</p>
			<ul>
				<li>Temperature checks and COVID Questionnaire upon entry to the 2nd floor of the O'Keefe building</li>
				<li>Masks are required in classes where 6 ft of separation cannot be maintained; please bring a mask to every class
					(lecture, lab, and PT)</li>
				<li>Room capacity has been reduced</li>
				<li>The Cadet Wing has been split into two groups to mitigate large crowds</li>
				<li>Routine cleaning of classrooms and space by GT facilities</li>
			</ul>

			<h1>Visitors</h1>
			<p>We are incorporating all USG/GT coronavirus guidelines. If you are visiting the Detachment for testing, recruiting,
				etc., you must abide by the below safety precautions:</p>
			<ul>
				<li><strong>Visitors by appointment only.</strong> Please use the contact information below to set-up an appointment even if it is last minute.</li>
				<li>Temperature checks and COVID Questionnaire upon entry to the 2nd floor of the O'Keefe building</li>
				<li>Masks are required for <strong>ALL</strong> visitors and all others who accompany them (parents, recruiters, etc. included)</li>
			</ul>
		</div>
	</header>

	<main class="section">
		<div class="container">
			<h1>Have a question?</h1>
			<p class="questions">For further questions about COVID-19, AFROTC, or enrollment, please contact Detachment 165 at <a
					href="mailto:recruiting@afrotc.gatech.edu">recruiting@afrotc.gatech.edu</a>.</p>
		</div>
	</main>
{{/base}}
