{{#> base title="Join"}}
	{{#*inline "head-block"}}
		<link rel="stylesheet" href="css/join.css" />
	{{/inline}}

	<section class="primary">
		<div class="primary-background columns is-vcentered">
			<div class="column">
				<h1>Join AFROTC</h1>
				<h2>Are you ready for the challenge?</h2>
			</div>
		</div>
	</section>

	<header class="section">
		<div class="container">
			<h1>Basic Requirements</h1>
			<ol>
				<li>Enrolled full-time at Georgia Tech or one of our <a href="/about">eleven cross-town schools</a> <small>(12 credit hours for undergraduate studies; 9 credit hours for graduate studies)</small></li>
				<li>Have at least three years remaining until earning your degree</li>
				<li>Have at least a 2.0 cumulative college GPA <small>(does not apply to incoming freshmen from high school)</small></li>
				<li>Be age 18&ndash;39 at your time of graduation or age 18&ndash;29 if pursuing a flight career (i.e. pilot) <small>(some restrictions apply)</small></li>
				<li>Must be within Air Force Accessions BMI / body fat standards to remain in the program</li>
				<li>Hold U.S. citizenship by the time you become an AS 300 cadet <small>(typically your junior year)</small></li>
			</ol>
			<p class="has-text-centered">This list is not exhaustive; other entrance standards may apply.</p>

			<h1>Join in the <span class="semester-text">Spring 2023</span> semester</h1>
			<div class="columns">
				<div class="column is-half side-by-side current-semester">
					<h2>Join as a <span class="semester-text">Georgia Tech</span> student</h1>
					<p>To enroll for Spring 2023, please first review the <a href="files/Schedule Spring 2023.pdf">Enrollment Information Packet</a>. Then, download and complete the GT New Student Enrollment (NSE) package below and follow the instructions.</p>
					<a class="button is-large" href="files/Spring2023NSEGaTechapplication.pdf">NSE Packet for Georgia Tech Students</a>
				</div>
				<div class="column is-half side-by-side future-semester">
					<h2>Join as a <span class="semester-text">crosstown</span> student</h1>
					<p class="college-list">Detachment 165 hosts students from:<br />Agnes Scott College, Clark Atlanta University, Clayton State University, Emory University, Georgia State University, Kennesaw State University, Morehouse College, Oglethorpe University, Spelman College, Mercer University, and University of West Georgia</p>
					<p>To enroll for Spring 2023, please first review the <a href="files/Schedule Spring 2023.pdf">Enrollment Information Packet</a>. Then, download the Crosstown New Student Enrollment (NSE) package, follow the instructions, and satisfy the additional requirements listed below.</p>
					<a class="button is-large" href="files/Spring2023NSEcrosstownapplication.pdf">NSE Packet for Crosstown Students</a>
				</div>
			</div>

			<h1>Additional Crosstown Registration Requirements</h1>
			<p class="has-text-centered">If you plan to join Detachment 165 as a crosstown student, then you must do two additional things:</p>
			<div class="columns">
				<div class="column is-half side-by-side cross-step-1">
					<h2>1. Cross-register for AFROTC at Georgia Tech</h2>
					<p>To do this, visit the <a href="http://www.atlantahighered.org/collaboration/cross-registration">ARCHE program website</a> and click on your school. Pay close attention to all procedures and deadlines. Cross-registration paperwork must be submitted <strong>directly to your home institution</strong> &mdash; not Georgia Tech. Late paperwork <em>will not</em> be accepted!</p>
					<a class="button is-large" href="http://www.atlantahighered.org/collaboration/cross-registration">ARCHE Program Website</a>
				</div>
				<div class="column is-half side-by-side cross-step-2">
					<h2>2. Submit required immunization forms to Georgia Tech</h2>
					<p>To do this, visit Georgia Tech's <a href="http://health.gatech.edu/immunization/requirements">Immunization Requirements page</a>. Pay close attention to all procedures and deadlines. Medical Entrance and Immunization forms must be submitted <strong>directly to the Georgia Tech Health Center</strong> &mdash; not your home institution or Detachment 165. If the proper medical forms are not filed in a timely manner, you will not be allowed to cross-register which could impact your eligibility to participate in AFROTC.</p>
					<a class="button is-large" href="http://health.gatech.edu/immunization/requirements">GT Immunization Website</a>
				</div>
			</div>

			<h1>Important Dates and Deadlines</h1>
			<div class="columns">
				<div class="column date">
					<div class="calendar">
						<div class="month">November</div>
						<div class="day">15</div>
					</div>
					<p>Cross-registration Deadline</p>
				</div>
				<div class="column date">
					<div class="calendar">
						<div class="month">December</div>
						<div class="day">16</div>
					</div>
					<p>NSE Package Due</p>
				</div>
				<div class="column date">
					<div class="calendar">
						<div class="month">January</div>
						<div class="day">6</div>
					</div>
					<p>
						AFROTC Day 1 &mdash; In-processing
						<br />
						<small>(0600&ndash;1200)</small>
					</p>
				</div>
			</div>

			<h1>Applicant Admission Process</h1>
			<p class="has-text-centered">To apply to AFROTC and complete the application checklist, follow this guide.</p>
			<p class="has-text-centered"><a class="button is-large future-interest" href="files/WINGS Application Guide.pdf">WINGS Application Guide</a></p>

			<h1>Join in <span class="semester-text">Fall 2023</span> or later</h1>
			<p class="has-text-centered">To enroll for a future semester, fill out our interest form and we'll contact you with more details including when and how to apply.</p>
			<p class="has-text-centered"><a class="button is-large future-interest" href="https://docs.google.com/forms/d/e/1FAIpQLSfkvC-q9kdtHttOnJVYtJ4vA26Jpkqbdz1m1LS0h-perXGnhQ/viewform?usp=sf_link">Future Cadet Interest Form</a></p>
		</div>
	</header>

	<main class="section">
		<div class="container">
			<h1>Frequently Asked Questions</h1>

			<article>
				<h2>How do I apply for a Air Force ROTC High School Scholarship?</h2>
				<p>The application window for the scholarship is open from <strong>1 June through 1 December</strong> of your senior year of high school. You can apply online on the <a href="https://www.afrotc.com">AFROTC website</a>. Once the initial application is completed, students have until <strong>12 January</strong> to complete and submit all necessary supporting documents, including transcripts, SAT/ACT scores, extra-curricular activities, fitness scores, etc. Additional information about the scholarship program and its requirements can be found on the <a href="https://www.afrotc.com/scholarships/">AFROTC website</a>.</p>
			</article>
			<article>
				<h2>Am I guaranteed a scholarship if I join Air Force ROTC?</h2>
				<p>No. Cadets can apply for a High School Scholarship as a senior in high school or they may be eligible to compete for an In-College Scholarship as a cadet during their freshman or sophomore years of AFROTC. Both scholarships are awarded based on academics, leadership, extra-curricular activities/work experience, physical fitness, and overall character (as assessed through an in-person interview at the high school level or through your performance in AFROTC at the college level).</p>
			</article>
			<article>
				<h2>If I do receive a scholarship, what are the different types?</h2>
				<p>Each year Air Force ROTC offers approximately 1500 scholarships to the most qualified students.</p>
				<ul>
					<li><em>Type 1</em> &mdash; Pays full college tuition to ANY university that offers AFROTC, most fees and a book allowance.</li>
					<li><em>Type 2</em> &mdash; Pays college tuition and most fees up to $18,000 per year and a book allowance.</li>
					<li><em>Type 7</em> &mdash; Pays college tuition up to equivalent of a public school’s in-state rate. A Type 7 scholarship may be converted to a 3-year Type 2 scholarship if the student wishes to attend an out of state or private school.</li>
				</ul>
				<p>In addition, all Air Force ROTC scholarship cadets receive a nontaxable monthly stipend ranging from $300- $500.</p>
			</article>
			<article>
				<h2>Do I incur a service commitment by joining Air Force ROTC?</h2>
				<p>All students are given the opportunity to participate in AFROTC before incurring an official service commitment. High School Scholarship Recipient cadets have until the start of their sophomore year to withdraw from ROTC without having to either pay back their scholarship or enlist in the Air Force. Non-scholarship cadets will not incur a service commitment until they return from Field Training (which typically occurs during the summer after sophomore year) and sign a service contract pledging to successfully complete the program and commission on time. Cadets will incur a service commitment of four years (time is greater for select career fields such as pilot) after they commission.</p>
			</article>
			<article>
				<h2>Can I join Air Force ROTC after my freshman year of college?</h2>
				<p>Yes. As long as you have not yet completed your bachelor’s degree, you may still be eligible to join AFROTC. However, keep in mind that nearly all cadets participate in three or four year programs and shorter durations are dependent on the current needs of the Air Force.</p>
			</article>
			<article>
				<h2>Will I major in Air Force ROTC?</h2>
				<p>No. Cadets in AFROTC can choose to major in nearly any area of study. AFROTC courses are taken as electives to supplement a cadet's academic plan of study.</p>
			</article>
			<article>
				<h2>Who teaches Air Force ROTC classes?</h2>
				<p>Each detachment has a staff, called a "cadre," comprised of active-duty officers and non-commissioned officers. The cadre team &ndash; typically the active-duty officers &ndash; are responsible for instructing the Aerospace Studies courses, supervising training, and counseling each cadet as they progress through the program.</p>
			</article>
			<article>
				<h2>Do I have to attend boot camp if I join Air Force ROTC?</h2>
				<p>No. Boot camp or basic military training (BMT) is for Airmen who choose to enlist. AFROTC cadets will instead attend a 13 day program called Field Training (FT) over the summer, typically between their sophomore and junior year of college. Sophomore cadets will compete on a national level to earn an enrollment allocation (EA) to attend FT. Field Training is the most intense physical and mental training cadets receive while in AFROTC. During this time, cadets are evaluated on their leadership and communication skills, professional qualities (officership), judgment and critical-thinking skills, and resiliency. Cadets also receive unique training such as marksmanship, combatives, convoys, small unit tactics, land navigation etc.</p>
			</article>
			<article>
				<h2>Am I required to work out if I join Air Force ROTC?</h2>
				<p>Yes. All cadets participate in a minimum of two hours of physical training (PT) each week. PT workouts vary greatly, but typically encompass running, calisthenics (push-ups, sit-ups, lunges, etc.), and team sports. Each semester, cadets will take the Air Force Physical Fitness Assessment (PFA), which consists of one minute of push-ups, one minute of sit-ups, and a 1.5 mile run. It is highly encouraged that you work out during your free time as well.</p>
			</article>
			<article>
				<h2>Will I wear a uniform as an Air Force ROTC cadet?</h2>
				<p>Yes. Cadets will wear PT uniforms to each physical training session. Additionally, on training days (Tuesdays and Thursdays at Detachment 165), the entire cadet wing wears their uniforms on campus. The proper uniform to wear, such as blues or the airman battle uniform (ABU), is standardized by the cadet wing leadership. This allows cadets an opportunity to practice proper uniform wear and customs and courtesies in a practical way. Uniforms are issued at no cost to cadets when they join AFROTC. If you have a lab or an art class, then you are able to change out of your uniform before the class and change back into it at the conclusion of the class. Also if you are going off campus you are not required to wear your uniform, but once you return to campus if it is still within the business hours, you need to change back into your uniform of the day (UOD).</p>
			</article>
			<article>
				<h2>Do cadets experience hazing?</h2>
				<p>No. Hazing, along with physical and verbal maltreatment/abuse, is strictly prohibited and continuously monitored by the cadre and other cadets. All AFROTC training is conducted in a professional manner in accordance with Air Force training regulations which ensures that all cadets receive professional, quality, and effective training that is beneficial to their development as a leader and officer. Cadets are challenged to become innovative leaders who take initiative and think independently. While cadets may be placed in stressful situations, they are never put in circumstances that compromise their safety or well-being.</p>
			</article>
			<article>
				<h2>What will my rank be after I complete Air Force ROTC?</h2>
				<p>Upon successful completion of AFROTC requirements and graduation from college, cadets are commissioned as Second Lieutenants in the active-duty Air Force. Every Second Lieutenant will be sent to their first duty station and begin working in his or her career field within one year of commissioning.</p>
			</article>
			<article>
				<h2>Can I live in the dorms like a "normal" college student if I join Air Force ROTC?</h2>
				<p>Yes. Cadets, like civilian students, have the opportunity to choose living arrangements conducive to their lifestyle and preferences. Training at Detachment 165 takes place at various places on campus. Georgia Tech cadets typically choose to live on West Campus near the <a href="https://goo.gl/maps/Tdy2nv7PYFjJNdsZ9">Campus Recreation Center</a>, where PT takes place, or on East Campus near the <a href="https://goo.gl/maps/RffNYwSsoBfcngR3A">O'Keefe Building</a>, where AFROTC classes and LLAB are held.</p>
			</article>
			<article>
				<h2>Will I have time to join campus organizations such as clubs, Greek life, intramurals, and student government?</h2>
				<p>Yes. AFROTC cadets are encouraged to participate in campus groups and activities outside of ROTC. Doing so provides additional opportunities for learning and leadership and helps cadets become more well-rounded. However, academics should be the number one priority of every cadet, and involvement in student organizations should not interfere with a cadet’s ability to succeed academically. Ultimately, we cannot commission you as a 2nd Lieutenant if you do not earn a bachelor's degree.</p>
			</article>
			<article>
				<h2>Will I be able to participate in intercollegiate sports while an Air Force ROTC cadet?</h2>
				<p>Yes. Joining AFROTC should not deter your from pursuing your athletic goals while in college. Cadets who are student athletes should talk to their cadre to find ways to accommodate their training and competition schedule. Again, academics is the priority for cadets, and student athletes should be able to balance the demands of their coursework, sport, and AFROTC.</p>
			</article>
			<article>
				<h2>Does Air Force ROTC offer any extracurricular activities?</h2>
				<p>Yes. There are many ways to become involved in the detachment outside of mandatory training. AFROTC organizations include Arnold Air Society (a national, professional, honorary service organization), Silver Wings (a combined military/civilian organization that emphasizes service and leadership), Drill Team (a marching unit that performs routines, typically with rifles), and Honor Guard (a ceremonial unit trained in proper flag-bearing procedures). Also, Detachment 165 cadets participate in sports tournaments and other activities each year with and against other Air Force, Army, and Navy ROTC units.</p>
			</article>
			<article>
				<h2>How do I join the U.S. Space Force in particular?</h2>
				<p>The U.S. Space Force is still in the process of being stood up and will begin accepting direct commissions beginning Spring 2021. In the meantime, cadets will commission into Air Force space units and transfer over at a later date.</p>
				<p>Once the Space Force begins to accept direct commissions, the path to pursuing a career as an officer in the Space Force involves enrolling in AFROTC and competing for an assignment in the Space Force during your junior year.</p>
			</article>

			<h1>Still have a question?</h1>
			<p class="questions">For further questions about AFROTC or enrollment, please contact a Detachment 165 recruiter at <a href="mailto:recruiting@afrotc.gatech.edu">recruiting@afrotc.gatech.edu</a>.</p>
		</div>
	</main>
{{/base}}
