.primary {
	background-image: url("../img/wing-staff.jpg");
	background-position: center center;
}
.primary-background > .column:first-child {
	display: initial;
	max-height: initial;
	text-align: center;
}

header > .container > img {
	display: block;
	margin: 0 auto;
}
header > .container > h1 {
	font-family: "Titillium Web", sans-serif;
	text-align: center;
	font-size: 3rem;
	margin-bottom: 2rem;
}


.timeline {
	position: relative;
}
.timeline::after {
	content: "";
	position: absolute;
	width: 8px;
	background-color: #353849;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: calc(8px / -2);
}
.timeline-container {
	padding: 10px 45px;
	position: relative;
	width: 50%;
}
.timeline-container.left {
	left: 0;
}
.timeline-container.right {
	left: 50%;
}
.timeline-container > .content {
	padding: 20px 30px;
	border: 3px solid #353849;
	position: relative;
	border-radius: 2px;
}
/* Dots on timeline */
.timeline-container::after {
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	right: -13px;
	background-color: white;
	border: 4px solid #c18a25;
	top: 19px;
	border-radius: 50%;
	z-index: 1;
}
.timeline-container.right::after {
	left: -12px;
}
/* Arrows */
.timeline-container.left::before {
	content: "";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	right: 35px;
	border: medium solid #353849;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent #353849;
}
.timeline-container.right::before {
	content: "";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	left: 35px;
	border: medium solid #353849;
	border-width: 10px 10px 10px 0;
	border-color: transparent #353849 transparent transparent;
}
.timeline-container > .content > h2 {
	font-family: "Titillium Web", sans-serif;
	text-align: center;
}

main {
	padding-top: 7rem !important;
}
main > .container > h1 {
	font-family: "Titillium Web", sans-serif;
	text-align: center;
	font-size: 3rem;
	margin-bottom: 1.5rem;
}

.colleges > .column {
	text-align: center;
	font-size: 1.5rem;
	line-height: 1.5rem;
}

.logo {
	display: block;
	height: 15rem;
    background-size: 70%;
    background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 0.5rem;
}

.logo.kennesaw {
    background-image: url("../img/crosstowns/kennesaw.png");
    background-color: #ffc425;
}

.logo.georgia-state{
    background-image: url("../img/crosstowns/georgia_state.png");
    background-color: #005daa;
}

.logo.agnes-scott {
    background-image: url("../img/crosstowns/agnes-scott.gif");
    background-color: #fff2c8;
}

.logo.clayton-state {
    background-image: url("../img/crosstowns/clayton-state.png");
    background-color: #ff9231;
}

.logo.emory {
    background-image: url("../img/crosstowns/emory.png");
    background-color: #042144;
}

.logo.spelman {
    background-image: url("../img/crosstowns/spellman.png");
    background-color: #e6ecff;
}

.logo.oglethorpe {
    background-image: url("../img/crosstowns/oglethorpe.png");
    background-color: #fff;
}

.logo.morehouse {
    background-image: url("../img/crosstowns/morehouse.jpg");
    background-color: #fff;
}

.logo.clark-atlanta {
    background-image: url("../img/crosstowns/clark-atlanta.gif");
    background-color: #b1151b;
}

.logo.mercer {
    background-image: url("../img/crosstowns/mercer.png");
    background-color: #cb5307;
}

.logo.west-georgia {
    background-image: url("../img/crosstowns/west-georgia.gif");
    background-color: #3b5099;
}

@media only screen and (max-width: 768px) {
	.timeline::after {
		left: 15px;
	}
	.timeline-container {
		width: 100%;
	}
	/* Make sure all arrows are pointed left */
	.timeline-container.left::before, .timeline-container.right::before {
		left: 35px;
		border-width: 10px 10px 10px 0;
		border-color: transparent #353849 transparent transparent;
	}
	/* Make sure all circles are in the same spot */
	.timeline-container.left::after, .timeline-container.right::after {
		left: 2px;
	}
	.timeline-container.right {
		left: 0;
	}

	.logo {
		background-size: 25%;
	}
}
