.primary {
	background-image: url("../img/cadre/staff.jpg");
	background-position: 60%;
}
.primary-background > .column:first-child {
	display: initial;
	max-height: initial;
	text-align: center;
}

header > .container > p {
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
	max-width: 75%;
	text-align: justify;
	font-size: 1.2rem;
}

main {
	padding-top: 7rem !important;
}
main > .container > h1 {
	font-family: "Titillium Web", sans-serif;
	text-align: center;
	font-size: 3rem;
	margin-bottom: 1.5rem;
}

.card-image > figure {
	height: 400px;
	background-position: center top;
	background-size: cover;
}
figure.sharbel{
	background-image: url(../img/cadre/Lt\ Col\ Sharbel.jpeg)
}
figure.cumings {
	background-image: url("../img/cadre/cumings.jpg");
}
figure.clark {
	background-image: url("../img/cadre/clark.jpg");
}
figure.brand {
	background-image: url("../img/cadre/brand.jpg");
}
figure.babcock {
	background-image: url("../img/cadre/babcock.jpg");
}
figure.cauley {
	background-image: url("../img/cadre/cauley.jpg");
	background-position-x: 25%;
}
figure.demayo {
	background-image: url("../img/cadre/demayo.jpg");
}
figure.littleton {
	background-image: url("../img/cadre/littleton.jpg");
}
figure.pham {
	background-image: url("../img/cadre/pham.jpg");
}
figure.shannon {
	background-image: url("../img/cadre/shannon.jpg");
}
figure.spear {
	background-image: url("../img/cadre/spear.jpg");
}
figure.morgan {
	background-image: url("../img/cadre/morgan.jpg");
}
figure.crump {
	background-image: url("../img/cadre/Mrs.\ Carolyn\ Crump.jpeg")
}
figure.wallner {
	background-image: url("../img/cadre/wallner.jpg")
}
figure.groenheim{
	background-image: url("../img/cadre/TSgt\ Christopher\ Groenheim.jpeg")
}
figure.brown{
	background-image: url("../img/cadre/Capt\ Donnell\ Brown.jpeg")
}
figure.echols{
	background-image: url("../img/cadre/Capt\ Quintin\ Echols.jpeg")
}
figure.heard{
	background-image: url("../img/cadre/Capt\ Jordan\ Heard.jpeg")
}
figure.sibley{
	background-image: url("../img/cadre/SSgt\ Niambi\ Sibley.jpeg")
}
.card-content > h1, .card-content > h2 {
	font-family: "Titillium Web", sans-serif;
}
.card-content > h1 {
	font-size: 2.5rem;
	line-height: 2.8rem;
	margin-top: -0.5rem;
	margin-bottom: 1rem;
}
.card-content > h2 {
	font-size: 1.5rem;
	line-height: 1.5rem;
}
.card {
	height: 100%;
}

@media only screen and (max-width: 768px) {
	header > .container > p {
		max-width: initial;
	}
}
