.primary {
	background-image: url("../img/flight-jsa.jpg");
	background-position: center center;
}
.primary-background > .column:first-child {
	display: initial;
	max-height: initial;
	text-align: center;
}

h1, h2 {
	font-family: "Titillium Web", sans-serif;
	text-align: center;
	font-size: 3rem;
	font-weight: bold;
}
footer h2 {
	text-align: left;
}
h2 {
	font-size: 2rem;
	line-height: 2rem;
}

header > .container > ul {
    list-style: disc inside none;
}

header > .container > p, header > .container > ul {
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
	max-width: 75%;
	text-align: justify;
	font-size: 1.2rem;
}

main {
	padding-top: 7rem !important;
}
main > .container > h1 {
	font-family: "Titillium Web", sans-serif;
	text-align: center;
	font-size: 3rem;
	margin-bottom: 1.5rem;
}
main a {
	color: #acccef !important;
	text-decoration: underline;
}
.questions {
	font-size: 1.5rem;
	text-align: center;
}

@media only screen and (max-width: 768px) {
	header > .container > p, header > .container > ul {
		max-width: initial;
	}
}
