html, body {
	height: 100%;
	width: 100%;
	font-family: "Open Sans";
}

/* https://coolors.co/313b4f-3a5a8d-213e6f-acccef-87aed9 */

nav {
	z-index: 10;
	position: fixed;
	display: block;
	width: 100%;

	background-color: rgba(49, 59, 79, 0.95);
	color: white !important;
	border-bottom: 3px solid white;
}

nav > ul {
	max-width: 1000px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
}

nav > ul > li {
	font-family: "Titillium Web", sans-serif;
	font-size: 1.75em;
	text-transform: uppercase;
	transition: transform 0.5s;
	line-height: 0.5em;
}

nav > ul > li > a {
	color: white;
	padding: 25px 15px;
	transition: all 0.25s;
	display: inline-block
}
nav > ul > li > a:hover {
	color: white;
	transform: scale(1.15);
}

.primary {
	height: 90%;
	background-image: url("../img/hero-f22.jpg");
	background-repeat: no-repeat;
	background-position: 70% 70%;
	background-size: cover;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.primary-background {
	max-width: 90%;
	padding: 10px;

	font-family: "Titillium Web", sans-serif;
	font-size: 3em;
	text-align: center;

	background-color: rgba(255, 255, 255, 0.7);
	color: #0e182d;
	border-left: 10px solid;
}
.primary-background > .column {
	flex-basis: auto;
}
.primary-background > .column > h1 {
	font-weight: bold;
	font-size: 1.5em;
	line-height: 0.95em;
}
.primary-background > .column > h2 {
	font-size: 1em;
	line-height: 1.1em;
	margin-top: 5px;
}
.primary-background > .column:first-child {
	display: flex;
	justify-content: center;
}
.primary-background > .column:first-child > img {
	max-height: 20vh;
}
.primary-background > .column:last-child {
	text-align: left;
}

header::before {
	content: "";
	display: block;
	z-index: 0;
	background: inherit;
	border-top: 3px solid #313b4f;

	height: 65%;
	width: 100%;
	position: absolute;
	bottom: 35%;
	left: 0;
	right: 0;

	transform: skewY(2.5deg);
	transform-origin: 100%;
}

header {
	position: relative;
	z-index: 1;
	padding-top: 1rem;
	background-color: white;
}

header::after {
	content: "";
	display: block;
	z-index: -1;
	background: inherit;
	border-bottom: 3px solid #434c5f;

	height: 65%;
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;

	transform: skewY(-2.5deg);
	transform-origin: 100%;
}

.secondary {
	width: 100%;
	height: 70%;
	border-bottom: 3px solid #434c5f;

	background-image: url("../img/skyline.jpg");
	background-repeat: no-repeat;
	background-position: 50% 80%;
	background-size: cover;
}

.column.logo {
	padding: 1.5rem;
	text-align: center;
}

blockquote {
	text-align: justify;
	font-size: 1.2rem;
}
blockquote > cite {
	display: inline-block;
	width: 100%;
	text-align: right;
	margin: 10px 0;
	font-family: "Titillium Web", sans-serif;
}

main {
	background-color: #2e3141;
	color: white;
}

.faqs {
	align-items: baseline;
}
.faqs > .column {
	background-color: #353849;
	width: 49%; /* 50% - margin-left or right */
	padding: 0;
	border-radius: 3px;
	overflow: hidden;
	margin-bottom: 2%;
}

.faqs > .column:nth-child(2n + 1) {
	margin-right: 1%;
}
.faqs > .column:nth-child(2n) {
	margin-left: 1%;
}

article {
	padding: 1.5rem;
}
article > h2 {
	font-size: 2.5rem;
	font-family: "Titillium Web", sans-serif;
	font-weight: bold;
	line-height: 1.1em;
	margin-top: -15px;
	padding-bottom: 0.25em;
	margin-bottom: 0.5em;
	border-bottom: solid 2px rgba(255, 255, 255, 0.125);
}
article > p {
	font-size: 1rem;
	margin-top: 0.5rem;
}
article > small > p {
	margin-top: 0.5rem;
}
article > a {
	display: block;
	margin-top: 1.5rem;

	color: white;
	font-family: "Titillium Web", sans-serif;
	font-weight: bold;
	font-size: 1.4rem;
	text-decoration: none;
	text-transform: uppercase;
	text-align: right;
	letter-spacing: 1px;
}
article > a > .icon {
	margin-left: 5px;
}
article > a::after {
	content: '';
	display: block;
	height: 1px;
	width: 0;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
article > a:hover {
	color: white;
}
article > a:hover::after {
	width: 100%;
	background: white;
}
main strong {
	font-family: "Titillium Web", sans-serif;
	font-weight: bold;
	font-size: 1.2em;
	line-height: 1em;
	color: white;
}

.links > .column {
	background-color: #353849;
	padding: 0;
	border-radius: 3px;
	overflow: hidden;
	margin: 0 1%;
	height: 300px;
}
.links > .column:first-child {
	margin-left: 0;
}
.links > .column:last-child {
	margin-right: 0;
}
.links > .column > a {
	display: block;
	height: 100%;
	background-size: cover;
	background-position: center center;

	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 0.5s;
}
.links > .t-38 > a {
	background-image: url("../img/t38.jpg");
}
.links > .f-35 > a {
	background-image: url("../img/f35.jpg");
}
.links > .a-10 > a {
	background-image: url("../img/a10.jpg");
}
.links > .column > a > h2 {
	font-family: "Titillium Web", sans-serif;
	font-size: 2em;
	text-align: center;

	background-color: rgba(255, 255, 255, 0.7);
	color: #0e182d;
	width: 100%;
}
.links > .column > a:hover {
	transform: scale(1.2);
}

.contact > .column {
	flex-basis: auto;
}
.contact > .column:first-child {
	text-align: right;
}
.contact > .column > img {
	height: 150px;
}
.contact > .column > h2, .contact > .column > h3 {
	font-family: "Titillium Web", sans-serif;
	font-size: 2em;
	line-height: 1em;
}
.contact > .column > h3 {
	font-size: 1.5em;
	margin-bottom: 0.5em;
}
footer > .container > p {
	margin-bottom: 1em;
}
.sources {
	font-size: 0.8em;
	text-align: center;
}

@media only screen and (max-width: 768px) {
	nav {
		position: static;
	}
	nav > ul {
		flex-direction: column;
	}
	nav > ul > li {
		line-height: 0;
	}

	.primary {
		height: 70%;
	}
	.primary-background {
		max-width: 100%;
		width: 95%;
		font-size: 2em;
	}
	.primary-background > .column:first-child {
		display: none;
	}
	.primary-background > .column:last-child {
		text-align: center;
	}
	.secondary {
		height: 30%;
	}

	header img {
		max-width: 50%;
	}

	.faqs > .column {
		width: 100%;
	}
	.faqs > .column:nth-child(2n + 1) {
		margin-right: 0;
	}
	.faqs > .column:nth-child(2n) {
		margin-left: 0;
	}

	.links {
		margin-top: 6%;
	}
	.links > .column {
		margin: 3% 0;
		height: 250px;
	}

	.contact > .column {
		text-align: center !important;
	}
}
